@model ACS.WEB.ViewModel.AccessViewModel


@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Access</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuidObject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuidObject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_Guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_DateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_EditorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_EditorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_IsLocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_IsLocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_LockedBy_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_LockedBy_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_InBasket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_InBasket)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { Id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
