@model ACSWeb.Models.EF.CFFromDB.User

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonnelNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonnelNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportSeries)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportSeries)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportIssuedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportIssuedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportUnitCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportUnitCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassportDateOfIssue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassportDateOfIssue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guid1C)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guid1C)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_Guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_AuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_AuthorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_DateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_EditorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_EditorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_IsLocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_IsLocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_LockedBy_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_LockedBy_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_InBasket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_InBasket)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
