@model IEnumerable<ACS.WEB.ViewModels.ChancelleryViewModel>

<table id="baseCorTable" class="stripe">
    <thead >
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.DateRegistration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Folder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalRegistrations)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsibleEmployees)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Files)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.s_Guid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.s_AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.s_DateCreation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.s_EditorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.s_EditDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.s_IsLocked)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.s_LockedBy_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.s_InBasket)
            </th>
            <th>Команды</th>
        </tr>
    </thead>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateRegistration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Summary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Folder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JournalRegistrations)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @foreach (var respName in item.ResponsibleEmployees)
                {
                <div style="display:inline-flex;">
                    @respName
                </div>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td style="font-size:12px;">

            @foreach (var file in item.Files)
                {
                <div style="display:inline-flex;">
                        @file
                </div>
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.s_Guid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_AuthorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_EditorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_EditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_IsLocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_LockedBy_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_InBasket)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "EditIncoming", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailsIncoming", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
