@model ACS.WEB.ViewModel.FileRecordManager


@foreach (var file in Model.OldFileRecords)
{
    <div style="display:inline-flex; line-height:25px">
        <a data-fancybox-type="iframe" style="padding-right:5px" class="fancybox" href="@Url.Action("DownloadFile", "Chancellery", new { id = file.id })" title="открыть" @*class="btn btn-primary"*@>
            @string.Format("{0}{1}", @file.Name, @file.Format)
        </a>
        
        @Html.ActionLink("+", "AttachFile", new { Model}, new { @class = "close" })
        @Html.ActionLink("x", "DetachFile", new { Model, FileId = file.id }, new { @class = "close" })
    </div>
}

