@model ACS.WEB.ViewModel.ChancelleryViewModel
@{
    ViewBag.Title = "Создание";
    Layout = "~/Views/Shared/_LayoutCancelaria.cshtml";
}
<h2>@ViewBag.ActionName</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegistrationNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegistrationNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateRegistration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateRegistration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateRegistration, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Summary, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Summary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Summary, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Notice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Notice, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Employee, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedResponsible.SelectedId, new SelectList(ViewBag.EmplsCollection, "Id", "FullName"), new { @class = "chosen", data_placeholder = "Выберите ответственного" })
                @Html.ValidationMessageFor(model => model.Employee.id, "", new { @class = "text-danger"})

            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.JournalRegistrationsChancellery, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <abbr class="search-choice-close"></abbr>
                @Html.DropDownListFor(model => model.SelectedJournalsReg.SelectedId, new SelectList(ViewBag.JournalsCollection, "Id", "Name"), new { @class = "chosen", data_placeholder = "Выберите журнал" })
                @Html.ValidationMessageFor(model => model.TypeRecordChancellery.id, "", new { @class = "text-danger" })

            </div>

        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FolderChancellery, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedFolder.SelectedId, new SelectList(ViewBag.FoldersCollection, "Id", "Name"), new { @class = "chosen", data_placeholder = "Выберите папку" })
                @Html.ValidationMessageFor(model => model.TypeRecordChancellery.id, "", new { @class = "text-danger" })
            </div>
        </div>
        @switch (Model.TypeRecordChancellery.id)
        {
            case 1:
                { @Html.Partial("_Type1", Model) break;
                };
            case 2:
                { @Html.Partial("_Type2", Model) break;
                };
            case 3:
                { @Html.Partial("_Type3", Model) break;
                };
            default:
                break;
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>

}

<div>
    @Html.ActionLink("Назад к списку", "Index")
</div>
@section scripts
{
    <script>
        $(function () {
            $('.chosen').chosen({
                width: '30%',
                allow_single_deselect: true,
                no_results_text: "Ничего не найдено!",
                disable_search_threshold: 5,
                placeholder_text_multiple: 'Выберите объекты',
                placeholder_text_single: 'Выберите объект',
            });
        });
    </script>
}