@model ACS.WEB.ViewModel.ChancelleryViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробная информация</h2>

<div>
    <h4>Запись</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
           id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id)
        </dd>

        <dt>
            Дата регистрации
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRegistration)
        </dd>

        <dt>
           Канцелярская папка
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolderChancellery.Name)
        </dd>

        <dt>
       Журнал регистрации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalRegistrationsChancellery.Name)
        </dd>
        <dt>
            Регистрационный номер
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt>
            Ответственный
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt>
            Тип записи
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeRecordChancellery.Name)
        </dd>

     

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
