@model IEnumerable<ACS.WEB.ViewModel.ChancelleryViewModel>

@{
    ViewBag.Title = "Канцелярия";
    Layout = "~/Views/Shared/_LayoutCancelaria.cshtml";
}

<h2>Канцелярия</h2>

<p>
    @Html.ActionLink("Создать", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FolderChancellery.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JournalRegistrationsChancellery.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateRegistration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeRecordChancellery.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileRecordChancelleries)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FolderChancellery.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JournalRegistrationsChancellery.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeRecordChancellery.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @if (item.FileRecordChancelleries.Count > 0)
                {
                    <table>
                        @foreach (var file in item.FileRecordChancelleries)
                    {
                            <tr>
                                @Html.ActionLink("@file.Name", "DownloadFile", new { id = file.id }) |
                            </tr>
                        }
                    </table>
                }
                else
                {
                    @Html.ActionLink("Загрузить файлы", "Upload", new { ChancelleryId = item.id })
                }
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.id }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.id })
            </td>
        </tr>
    }
</table>


