@model ACS.WEB.Areas.Admin.Models.TypeRecordChancelleryAdminVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var grid = new WebGrid(Model.Chancelleries);
}

<h2>Details</h2>

<div>
    <h4>TypeRecordChancelleryAdminVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.s_Guid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_Guid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_DateCreation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_DateCreation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_EditorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_EditorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_EditDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_EditDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_IsLocked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_IsLocked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_LockedBy_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_LockedBy_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.s_InBasket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.s_InBasket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        
    </dl>
</div>
<div>
    @grid.GetHtml()
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
