@model IEnumerable<ACS.WEB.ViewModel.AccessViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Доступы</h2>

<p>
    @Html.ActionLink("Создать Новый", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuidObject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeAccessId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_Guid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_AuthorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_EditorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_EditDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_IsLocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_LockedBy_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_InBasket)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.id)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.GuidObject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeAccessId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_Guid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_AuthorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_EditorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_EditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_IsLocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_LockedBy_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_InBasket)
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { id=item.id }) |
            @Html.ActionLink("Подробная информация", "Details", new { id=item.id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
