<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ACS.WEB</title>
    @Scripts.Render("~/bundles/jquery")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Chosen/chosen.min.css")
    @Styles.Render("~/Content/Font-awesome/font-awesome.min.css")
    <!--fancybox css -->
    @Styles.Render("~/Content/FancyBox/jquery.fancybox-buttons.css")
    @Styles.Render("~/Content/FancyBox/jquery.fancybox-thumbs.css")
    @Styles.Render("~/Content/FancyBox/jquery.fancybox.css")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ACS WEB", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Канцелярия", "Index", "Chancellery", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                Дополнительно <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>@Html.ActionLink("Папки хранения", "Index", "FoldersChancellery")</li>
                                <li>@Html.ActionLink("Журналы регистрации", "Index", "JournalRegistrationsChancellery")</li>
                                <li>@Html.ActionLink("Внешние организации", "Index", "ExternalOrganizations")</li>
                                <li>@Html.ActionLink("Типы записей", "Index", "TypesRecordsChancellery")</li>
                                @*<li>@Html.ActionLink("Файлы", "Index", "FileRecordChancellery")</li>*@
                            </ul>
                        </div>
                    </li>
                </ul>
                @*<div>*@
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ACS WEB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/Chosen/chosen.jquery.min.js")
    <!--fancybox js -->
    @Scripts.Render("~/Scripts/FancyBox/jquery.fancybox.js")
    @Scripts.Render("~/Scripts/FancyBox/jquery.fancybox.pack.js")
    @Scripts.Render("~/Scripts/FancyBox/jquery.fancybox-buttons.js")
    @Scripts.Render("~/Scripts/FancyBox/jquery.fancybox-media.js")

    @RenderSection("scripts", required: false)
</body>
</html>
