@model ACSWeb.ViewModel.ChancelleryViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробная информация</h2>

<div>
    <h4>Запись</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
           ID
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            Дата регистрации
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateRegistration)
        </dd>

        <dt>
           Канцелярская папка
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FolderId)
        </dd>

        <dt>
       Журнал регистрации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JournalRegistrationsId)
        </dd>
        <dt>
            Регистрационный номер
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt>
            Описание
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Summary)
        </dd>
        <dt>
            Ответственный
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ResponsibleUserId)
        </dd>
        <dt>
            Тип записи
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeRecordId)
        </dd>

     

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
