@model IEnumerable<ACSDinamikaWeb.Models.EF.CFFromDB.Department>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Code1C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ParentCode1C)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inactive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_Guid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_AuthorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_DateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_EditorID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_EditDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_IsLocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_LockedBy_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.s_InBasket)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Code1C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ParentCode1C)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inactive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_Guid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_AuthorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_DateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_EditorID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_EditDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_IsLocked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_LockedBy_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.s_InBasket)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
